<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Gunz</title>
</head>
<style>
    
</style>
<body>
    <%- include("partials/navbar")%>
    
    <main role="main">
    
        <section class="jumbotron text-center bg-dark">
        <div class="container">
            <h1 class="jumbotron-heading text-muted">HacktivGun</h1>
            <p class="lead text-muted">Your trusted weapons dealer in Hacktiv8. We provide our customers with top quality weapons.</p>
            <p>
            <a href="/guns/add" class="btn btn-primary my-2">Create New Gun</a>
            </p>
        </div>
        </section>
    
        <div class="album py-5 bg-light">
        <div class="container">

    
            <div class="row">
                <% for(var i = 0; i < allGuns.length; i++){%>     
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                <img src="/<%=allGuns[i].name%>.jpg" height="200px">
                <div class="card-body">
                    <h5 class="card-text"><%= allGuns[i].name %></h5>
                    <p>$<%= allGuns[i].price %></p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <% if(allGuns[i].Type === "Smg"){ %>
                            <a href="/guns/smg/<%= allGuns[i].id %>" class="btn btn-primary my-0">Buy</a>
                            <a href="/guns/delete/<%=allGuns[i].id%>" class="btn btn-primary my-0">Delete</a>
                        <% } %>

                        <% if(allGuns[i].Type === "Assault Rifle"){ %>
                            <a href="/guns/assaultrifle/<%= allGuns[i].id %>" class="btn btn-primary my-0">Buy</a>
                            <a href="/guns/delete/<%=allGuns[i].id%>" class="btn btn-primary my-0">Delete</a>
                        <% } %>

                        <% if(allGuns[i].Type === "Sniper"){ %>
                            <a href="/guns/sniper/<%= allGuns[i].id %>" class="btn btn-primary my-0">Buy</a>
                            <a href="/guns/delete/<%=allGuns[i].id%>" class="btn btn-primary my-0">Delete</a>
                        <% } %>
                        
                        <% if(allGuns[i].Type === "Handgun"){ %>
                            <a href="/guns/handgun/<%= allGuns[i].id %>" class="btn btn-primary my-0">Buy</a>
                            <a href="/guns/delete/<%=allGuns[i].id%>" class="btn btn-primary my-0">Delete</a>
                        <% } %>

                        <% if(type === "Smg"){ %>
                            <a href="/guns/Smg/<%= allGuns[i].GunId %>" class="btn btn-primary my-0">Buy</a>
                            <a href="/guns/delete/<%=allGuns[i].id%>" class="btn btn-primary my-0">Delete</a>
                        <% } %>
                        <% if(type === "Assault Rifle"){ %>
                            <a href="/guns/assaultrifle/<%= allGuns[i].GunId %>" class="btn btn-primary my-0">Buy</a>
                            <a href="/guns/delete/<%=allGuns[i].id%>" class="btn btn-primary my-0">Delete</a>
                        <% } %>
                        <% if(type === "Sniper"){ %>
                            <a href="/guns/sniper/<%= allGuns[i].GunId %>" class="btn btn-primary my-0">Buy</a>
                            <a href="/guns/delete/<%=allGuns[i].id%>" class="btn btn-primary my-0">Delete</a>
                        <% } %>
                        <% if(type === "Handgun"){ %>
                            <a href="/guns/handgun/<%= allGuns[i].GunId %>" class="btn btn-primary my-0">Buy</a>
                            <a href="/guns/delete/<%=allGuns[i].id%>" class="btn btn-primary my-0">Delete</a>
                        <% } %>

                        
                    </div>
                    <small class="text-muted">9 mins</small>
                    </div>
                </div>
                </div>
            </div>
            <% } %>
            </div>

        </div>
        </div>
    
    </main>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>